@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-size: 14px;
  }
  .navbar {
    display: none;
  }
  .homepage {
    background: url("../assets/homepage_bg.jpg") no-repeat right;
  }
  .homepage__content__title {
    font-size: 5rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
  }
  .homepage__content__description {
    font-size: 1.2rem;
  }
  .homepage__content__buttons button {
    font-size: 1rem;
    padding: 1rem;
  }
  .about-section {
    height: auto;
  }
  .about-section .about-title {
    margin-top: 3rem;
  }
  .about-section .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .about-section .about__picture-1, .about-section .about__picture-2 {
    height: 200px;
    width: 300px;
    margin: 0.5rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .about-section .about-block-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-section .about-block-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-section .about-block-2 .about__picture-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-section .about-block-2 .par2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about-section .about__text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  .about-section .about__text__title {
    margin-bottom: 0.3rem;
  }
  .location-title {
    display: none;
  }
  .location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .location__map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .location__info {
    background: #786895;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .location__info__opening-hours {
    line-height: 1.3rem;
  }
  .services-section .subsection-title {
    margin-top: 2rem;
  }
  .services-section .solutions-block,
  .services-section .brands-block {
    height: auto;
  }
  .services-section .showcase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services-section .showcase .showcase-item {
    margin-bottom: 1.5rem;
  }
  .services-section .showcase .showcase-item .icon {
    font-size: 3rem;
  }
  .section-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left-pane {
    padding: 3rem 0;
  }
  .right-pane .title {
    margin-top: 1rem;
  }
  .right-pane .contact-form {
    margin-bottom: 1rem;
  }
  .right-pane .contact-form .fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .right-pane .contact-form .input-field {
    text-align: center;
  }
}
/*# sourceMappingURL=media.css.map */