@media screen and (max-width: 900px) {
  // General styling
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 3.2rem;
  }

  // .main-title {
  //   font-size: 3rem;
  //   color: #fff;
  // }
  
  // .section-title {
  //   color: #fff;
  //   font-size: 3rem;
  //   font-weight: 700;
  //   padding: 2rem 0;
  // }
  
  // .subsection-title {
  //   font-weight: 700;
  //   font-size: 1.5rem;
  //   margin-top: 2rem;
  // }

  // Navbar styling
  .navbar {
    display: none;
  }

  // Homepage Styling
  .homepage {
    background: url("../assets/homepage_bg.jpg") no-repeat center top;
    background-size: cover;


    &__content {
      padding: 1rem;
    }
    
    &__title {
      font-size: 3.6rem;
      line-height: 3rem;
    }

    &__description {
      font-size: 1rem;
    }

    &__buttons {
      button {
        font-size: 1rem;
        padding: 1rem;
      }
    }
  }

  .section {
    &__title {
      font-size: 3rem;
    }

    &__content {
      padding: 0;
    }
  }

  // About section styling
.about {
  grid-template-columns: 1fr;

  &__block {
    display: flex;
    flex-direction: column;

    &--left {
      .about{
        &__picture {
          background: url("../assets/store_pic.jpg") no-repeat center center/cover;
        }
        &__text {
        }
      }
    }
  
    &--right {
      flex-direction: column-reverse;
      .about{
        &__picture {
          background: url("../assets/store_pic.jpg") no-repeat center center/cover;
        }
      }
    }
  }

    &__text {
      padding: 20px;
      text-align: left !important;
    }
}
  

  //   location styling
  #location {
  
    .section__container {
      padding: 0;
    }

    .section__title {
      display: none;
    }
  }

  .location {
    flex-direction: column;

    &__map {
      width: 100%;
    }

    &__info {

      &__opening-hours {
        line-height: 1.2rem;
      }
    }
  }

  // Services styling
  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  // Contacts styling
  .contacts {
    flex-direction: column;

    &__block {
      padding: 60px 20px;
    }

    &__form {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, auto);
    }

    &__name {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    &__email {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    &__phone {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    &__message {
        grid-column-start: 1;
        grid-column-end: 2;
    }
  }
}
