* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.bg--primary {
  background: #212527;
}

.bg--secondary {
  background: #4d595e;
}

.bg--caribbean {
  background: #06D6A0;
}

.bg--crayola {
  background: #FFD166;
}

.bg--paradise-pink {
  background: #EF476F;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 80px 0;
}

.section__title {
  width: 100%;
  max-width: 1400px;
  text-align: center;
}

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 60px;
  max-width: 1400px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.33rem 10rem;
  background: #000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
  position: fixed;
  width: 100vw;
}

.navbar__item {
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar__item:hover {
  color: #aaaaaa;
}

.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: url("../assets/homepage_bg.jpg") no-repeat center center/cover;
}

.homepage__overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.homepage__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: white;
  z-index: 2;
}

.homepage__title {
  font-size: 8rem;
  word-break: break-all;
  text-align: center;
}

.homepage__description {
  max-width: 500px;
  text-align: center;
}

.homepage__buttons {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage__buttons .btn {
  margin: 0 1.5rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__block--left {
  margin-bottom: 40px;
}

.about__block--left .about__picture {
  background: url("../assets/store_pic.jpg") no-repeat center center/cover;
}

.about__block--left .about__text {
  text-align: left;
}

.about__block--right .about__picture {
  background: url("../assets/store_pic.jpg") no-repeat center center/cover;
  max-width: auto;
}

.about__block--right .about__text {
  text-align: right;
}

.about__picture {
  width: 100%;
  min-width: 500px;
  height: 400px;
}

.about__text {
  color: white;
  padding: 0 40px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.location .mapboxgl-map {
  width: 100%;
  height: 100%;
}

.location__map {
  width: 60%;
  height: 60vh;
}

.location__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  padding: 40px 20px;
}

.location__where {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.location__opening-hours {
  line-height: 2rem;
  text-align: right;
}

.location__opening-hours .day {
  font-weight: 700;
  margin-right: 1rem;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  color: white;
  width: 100%;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.services__icon {
  font-size: 8rem;
}

.services__icon i {
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
  opacity: 0.5;
}

.services__icon i:hover {
  opacity: 1;
  cursor: default;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 60px;
}

.contacts__block--left {
  min-height: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contacts__block--right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.contacts__info i {
  font-size: 2rem;
  margin-right: 1rem;
  color: white;
}

.contacts__info span {
  font-size: 2rem;
  color: white;
}

.contacts__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  grid-gap: 10px;
  width: 100%;
}

.contacts__form input, .contacts__form textarea {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem;
  border: none;
  color: #333;
  width: 100%;
}

.contacts__email {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.contacts__phone {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.contacts__message {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.contacts__message textarea {
  min-height: 25vh;
}

.contacts .btn__submit {
  background: #222222;
  color: white;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.contacts .btn__submit:hover {
  background: #303030;
}

.btn {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.btn--light {
  background: #EF476F;
  color: white !important;
}

.btn--light:hover {
  background: #f15e81;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=styles.css.map */