@import 'colors';

// Global styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // font-family: "Open Sans Condensed", sans-serif;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  user-select: none;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
  padding-bottom: 1rem;
}


.bg {

  &--primary {
    background: $primary;
  }
  
  &--secondary {
    background: $secondary;
  }
  
  &--caribbean {
    background: $caribbean;
  }
  
  &--crayola {
    background: $crayola;
  }
  
  &--paradise-pink {
    background: $paradise-pink;
  }
}

.section {
  @include flex-center();
  flex-direction: column;
  width: 100%;

  &__container {
    @include flex-center();
    flex-direction: column;
    width: 100%;
    padding: 80px 0;
  }

    &__title {
      width: 100%;
      max-width: 1400px;
      text-align: center;
    }

    &__content {
      @include flex-center();
      width: 100%;
      padding: 0 60px;
      max-width: 1400px;

      // width: 75%;
    }
}

// .main-title {
//   font-size: 8rem;
//   color: #fff;
//   font-weight: 900;
//   margin-bottom: 60px;
// }


// Navbar Styling
.navbar {
  display: flex;
  padding: 0.33rem 10rem;
  background: #000;
  justify-content: space-between;
  z-index: 99;

  position: fixed;
  width: 100vw;

  &__item {
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: #aaaaaa;
    }
  }
}

// Homepage styling
.homepage {
  @include flex-center();
  height: 100vh;
  background: url("../assets/homepage_bg.jpg") no-repeat center center/cover;

  &__overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    position: absolute;
  }

  &__content {
    @include flex-center();
    flex-direction: column;
    width: 100%;
    color: white;
    z-index: 2;
  }
    &__title {
      font-size: 8rem;
      word-break: break-all;
      text-align: center;
    }

    &__description {
      max-width: 500px;
      text-align: center;
    }

    &__buttons {
      margin-top: 3rem;
      display: flex;
      
      .btn {
        margin: 0 1.5rem;
      }
    }
}

// About section styling
.about {
  @include flex-center();
  flex-direction: column;
  overflow: hidden;

  &__block {
    @include flex-center();

    &--left {
      margin-bottom: 40px;
      .about{
        &__picture {
          background: url("../assets/store_pic.jpg") no-repeat center center/cover;
          
        }
        &__text {
          text-align: left;
        }
      }
    }
  
    &--right {
      .about{
        &__picture {
          background: url("../assets/store_pic.jpg") no-repeat center center/cover;
          max-width: auto;
        }
        &__text {
          text-align: right;
        }
      }
    }
  }
  
    &__picture {
      width: 100%;
      min-width: 500px;
      height: 400px;
    }

    &__text {
      color: white;
      padding: 0 40px;
    }
}

// Location section styling
.location {
  display: flex;
  width: 100%;
  // height: 60vh;

  .mapboxgl-map {
    width: 100%;
    height: 100%;
  }
    &__map {
      width: 60%;
      height: 60vh;
    }

    &__info {
      @include flex-center();
      flex-direction: column;
      flex: 1;
      color: white;

      padding: 40px 20px;
    }
      &__where {
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
      }

      &__opening-hours {
        line-height: 2rem;
        text-align: right;

        .day {
          font-weight: 700;
          margin-right: 1rem;
        }
      }
}

// Services section styling

.services {
  // @include flex-center();
  // flex-direction: column;
  // width: 100%;

  // &--solutions {
  //   background: #919191;
  //   background: #c4c4c4;
  // }

  // &--brands {
  //   background: #c4c4c4;
  // }
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  color: white;

  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__icon {
    font-size: 8rem;

    i {
      transition: opacity .6s;
      opacity: 0.5;
    }
    
    i:hover {
      opacity: 1;
      cursor: default;
    }
  }
}

// Contacts section
.contacts {
  display: flex;
  width: 100%;

  &__block {
    @include flex-center();
    width: 100%;
    padding: 60px;

    &--left {
      min-height: 400px;
      flex: 1;
    }

    &--right {
      flex-direction: column;
      flex: 2;
    }
  }

  &__info {
    i {
      font-size: 2rem;
      margin-right: 1rem;
      color: white;
    }
  
    span {
      font-size: 2rem;
      color: white;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;

    width: 100%;

    input, textarea {
      font-family: 'Raleway', sans-serif;
      font-size: 1.3rem;
      padding: 0.5rem;
      border: none;
      color: #333;

      width: 100%;
    }
  }

    &__email {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &__phone {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &__message {
        grid-column-start: 1;
        grid-column-end: 3;

        textarea {
            min-height: 25vh;
        }
    }

    .btn__submit {
      background: #222222;
      color: white;

      transition: background 0.2s;

      &:hover {
        background: #303030;
      }
    }

  // .input-field {
  //   font-size: 1.3rem;
  //   padding: 0.3rem 0.1rem;
  //   margin: .1rem;
  //   border: none;
  //   color: #333;
  // }

  // .input-message {
  //   font-size: 1rem;
  //   margin-bottom: 1rem;
  //   padding: 0.5rem;
  //   font-family: Arial, Helvetica, sans-serif;
  //   color: #333;
  //   outline: none;
  //   resize: none;
  //   border: none;
  // }

  // .input-btn {
  //   font-size: 1.3rem;
  //   align-self: center;
  //   width: 20%;
  //   margin-bottom: 2rem;

  //   padding: 0.33rem;
  //   border: none;
  //   border-radius: 5px;

  //   color: white;
  //   background: #333;

  //   transition: background 0.3s;

  //   &:hover {
  //     background: #222;
  //   }
  // }

  // .fields {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-rows: 1fr 1fr;
  //   margin-bottom: 1rem;
  // }
}

// Auxiliary and corrective styling
.btn {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.3s;
  outline: none;

  &--light {
    background: $paradise-pink;
    color: white !important;

    &:hover {
      background: lighten($color: $paradise-pink, $amount: 5%);
    }
  }
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
