* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section {
  height: 100vh;
  width: auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.33rem 10rem;
  background: #000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
}

.navbar__item {
  color: #fff;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.navbar__item:hover {
  color: #97b6e8;
}

.homepage {
  background: url("../assets/homepage_bg.jpg") no-repeat center center fixed;
  height: 100%;
}

.homepage .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.homepage__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.homepage__content__title {
  font-size: 10rem;
  font-weight: 100;
}

.homepage__content__description {
  width: 50%;
  text-align: center;
  font-weight: 100;
}

.homepage__content__buttons {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage__content__buttons button {
  margin: 0 1.5rem;
}

.about-section {
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about {
  height: 75%;
  width: 75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 3rem;
}

.about-section .about-title {
  color: #fff;
  margin-bottom: 4rem;
}

.about-section .about__text {
  margin: 5rem 0;
  color: white;
}

.about-section .about__text__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.about-section .about__picture-1 {
  background: url("../assets/store_pic.jpg") no-repeat center center/cover;
  height: 400px;
  width: 600px;
}

.about-section .about__picture-2 {
  background: url("../assets/store_pic.jpg") no-repeat center center/cover;
  height: 400px;
  width: 600px;
}

.location-title {
  color: white;
  padding-bottom: 3rem;
}

.location-section {
  background: #786895;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  width: 60%;
}

.location__map {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url(../assets/sample_map.png) no-repeat center center/cover;
}

.location__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #333;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location__info__where {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.location__info__opening-hours {
  line-height: 2rem;
  text-align: right;
}

.location__info__opening-hours .day {
  font-weight: 700;
  margin-right: 1rem;
}

.services-section {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-section .subsection-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 5rem;
}

.services-section .solutions-block {
  width: 100%;
  height: 50vh;
  background: #998899;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-section .brands-block {
  width: 100%;
  height: 50vh;
  background: #aa99ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-section .subsection {
  margin: 4rem 0;
}

.services-section .showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-section .showcase .showcase-item {
  margin: 0 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-section .showcase .showcase-item .icon {
  font-size: 8rem;
  color: #333;
}

.services-section .showcase .showcase-item .title {
  color: #000;
  font-size: 1.4rem;
}

.section-contacts {
  width: 100%;
  background: #333;
}

.button {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.button--light {
  background: #111;
  color: #eee;
}

.button--light:hover {
  background: #eee;
  color: #395a91;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=styles.css.map */