// Global styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.25rem;
  user-select: none;
}

.section {
  height: 100vh;
  width: auto;
}

// Navbar Styling
.navbar {
  display: flex;
  padding: 0.33rem 10rem;
  background: #000;
  justify-content: space-between;

  position: fixed;
  width: 100%;

  &__item {
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #97b6e8;
    }
  }
}

// Homepage styling
.homepage {
  background: url("../assets/homepage_bg.jpg") no-repeat center center fixed;
  height: 100%;

  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: center;
    justify-content: center;
    color: white;

    &__title {
      font-size: 10rem;
      font-weight: 100;
    }

    &__description {
      width: 50%;
      text-align: center;
      font-weight: 100;
    }

    &__buttons {
      margin-top: 3rem;
      display: flex;

      button {
        margin: 0 1.5rem;
      }
    }
  }
}

// About section styling
.about-section {
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .about {
    height: 75%;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;

    &-title {
      color: #fff;
      margin-bottom: 4rem;
    }

    &__text {
      margin: 5rem 0;
      color: white;
      &__title {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }

    &__picture-1 {
      background: url("../assets/store_pic.jpg") no-repeat center center/cover;
      height: 400px;
      width: 600px;
    }
    &__picture-2 {
      background: url("../assets/store_pic.jpg") no-repeat center center/cover;
      height: 400px;
      width: 600px;
    }
  }
}

// Location section styling
.location-title {
  color: white;
  padding-bottom: 3rem;
}

.location-section {
  background: #786895;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.location {
  display: flex;
  height: 60%;
  width: 60%;

  &__map {
    flex: 1;
    background: url(../assets/sample_map.png) no-repeat center center/cover;
  }

  &__info {
    flex: 1;
    background-color: #333;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__where {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-align: center;
    }

    &__opening-hours {
      line-height: 2rem;
      text-align: right;

      .day {
        font-weight: 700;
        margin-right: 1rem;
      }
    }
  }
}

// Auxiliary and corrective styling
.button {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;

  &--light {
    background: #111;
    color: #eee;

    &:hover {
      background: #eee;
      color: #395a91;
    }
  }
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
