* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 80px 0;
  background: #333;
}

.section__container--primary {
  background: #534c4c;
}

.section__container--secondary {
  background: #5c5c5c;
}

.section__title {
  width: 100%;
  max-width: 1400px;
  text-align: center;
}

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 60px;
  max-width: 1400px;
}

.main-title {
  font-size: 8rem;
  color: #fff;
  font-weight: 900;
  margin-bottom: 60px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.33rem 10rem;
  background: #000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
  position: fixed;
  width: 100vw;
}

.navbar__item {
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar__item:hover {
  color: #aaaaaa;
}

.homepage {
  background: url("../assets/homepage_bg.jpg") no-repeat center center fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.homepage__overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.homepage__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: white;
  z-index: 2;
}

.homepage__description {
  max-width: 500px;
  text-align: center;
}

.homepage__buttons {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage__buttons button {
  margin: 0 1.5rem;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2rem;
}

.about__text {
  margin: 5rem 0;
  color: white;
}

.about__text--right {
  text-align: right;
}

.about__picture {
  height: 400px;
}

.about__picture--left {
  background: url("../assets/store_pic.jpg") no-repeat center center/cover;
}

.about__picture--right {
  background: url("../assets/store_pic.jpg") no-repeat center center/cover;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60vh;
}

.location .mapboxgl-map {
  width: 60%;
}

.location__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #333;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location__where {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.location__opening-hours {
  line-height: 2rem;
  text-align: right;
}

.location__opening-hours .day {
  font-weight: 700;
  margin-right: 1rem;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__item {
  margin: 0 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__icon {
  font-size: 8rem;
  color: #333;
}

.services__icon i {
  color: #333;
  -webkit-transition: color .6s;
  transition: color .6s;
}

.services__icon i:hover {
  color: #000;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
}

.contacts__block--left {
  background: #292929;
}

.contacts__block--left i {
  font-size: 2rem;
  margin-right: 1rem;
  color: white;
}

.contacts__block--left span {
  font-size: 2rem;
  color: white;
}

.contacts__block--right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ebebeb;
  width: 60%;
}

.contacts__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  grid-gap: 10px;
  width: 100%;
}

.contacts input, .contacts textarea {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem;
  border: none;
  color: #333;
}

.contacts__email {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.contacts__phone {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.contacts__message {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.contacts__message textarea {
  min-height: 25vh;
}

.contacts .btn__submit {
  background: #222222;
  color: white;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.contacts .btn__submit:hover {
  background: #303030;
}

footer {
  height: 8vh;
  width: 100%;
  background: black;
}

.btn {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.btn--light {
  background: #111;
  color: #eee;
}

.btn--light:hover {
  background: #eee;
  color: #395a91;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=styles.css.map */